<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" >
    <title>drawChat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="default.css?{{htmlWebpackPlugin.options.cacheBreak}}" type="text/css" rel="stylesheet"/>
    <!--<link href="app.css?{{htmlWebpackPlugin.options.cacheBreak}}" type="text/css" rel="stylesheet"/>-->
<body>
<div id="root"></div>
<div id="root2"></div>
<!--<script src="../node_modules/react/dist/react.js"></script>-->
<!--<script src="../node_modules/react-dom/dist/react-dom.js"></script></head>-->
<script src="../dist/s2study-draw-ui.js?{{htmlWebpackPlugin.options.cacheBreak}}"></script>
<script>
    window.onload = function(){
        s2study.draw.loadEditor(null , (json) => {
            s2study.draw.render("root2", json);
        });
    };
</script>
</body>
</html>